.first__box {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	max-width: 40vw;

	.star {
		padding: 8% 0 0;
		.star__image {
			background-color: $dark;
			border-radius: 35px;
			padding: 15px;
		}
	}
	.box__rating {
		background-image: linear-gradient(to top right, $dark, $body-color);
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		padding: 9;
		border-radius: 25px;
		box-shadow: rgb(0 0 0 / 73%) 0 0 10px 0;

		.rating__content {
			display: flex;
			flex-direction: column;
			padding: 0 0 8%;
		}
		.rating__numbers {
			display: flex;
			flex-direction: row;
			justify-content: space-evenly;
			padding: 0 0 8%;

			.number__btn {
				background-color: $dark;
				color: $medium;
				font-size: 16px;
				border-color: transparent;
				padding: 14px 20px;
				border-radius: 50%;
				cursor: pointer;
			}

			:hover {
				background: $medium;
				color: $dark;
				transition: all 500ms ease;
			}

			:focus {
				background: $primary-color;
				color: $light;
				transition: all 500ms ease;
			}
		}

		.submit__button {
			display: flex;
			justify-content: center;
			padding: 2% 0 9%;

			.submit {
				background: $primary-color;
				color: $light;
				font-weight: 700;
				letter-spacing: 2px;
				border-color: transparent;
				border-radius: 35px;
				padding: 1% 39%;
				height: 45px;
				cursor: pointer;
			}
			:hover {
				background: $light;
				color: $primary-color;
				transition: all 250ms ease;
			}
		}
	}
}
