@import "colors.scss", "fonts.scss", "rating.scss", "selected.scss";

body {
	background: $body-color;
	font-family: $main-font;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	min-height: 100vh;
	margin: 0;

	h1 {
		font-weight: 700;
		color: $light;
		font-size: 25px;
		letter-spacing: 1.5px;
		margin: 15px 0;
	}

	p {
		font-size: 15px;
		font-weight: 400;
		line-height: 1.5;
		color: $medium;
		margin: 0 auto;
	}
}

@media (max-width: 700px) {
	.box__rating,
	.box__selected {
		width: 90vw;
	}
}

@media (min-width: 1280px) {
	.box__rating,
	.box__selected {
		width: 25vw;
	}
}
